*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* start header  */
.head{
display: flex;
justify-content: space-around;
height: 130px;
box-shadow: 0 0 1px 1px  rgb(190, 183, 183);
align-items: center;
padding: 18px;

}
.left-sside-head{
    display: flex;
    align-items: center;
}
.left-sside-head .fa-magnifying-glass{
    margin-right: 5px;
    font-size: 16px;
   color: #888;
}
.left-sside-head input{
    width: 50px;
    text-align: center;
    outline: none;
    border: none;
    color: #888;
    margin-left: 10px;
    font-size: 16px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    background-color: white;
}
.left-sside-head input:focus{
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}
.middle-sside-head p{ 
    border: 2px solid black;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}
.right-sside-head{
    display: flex;
    align-items: center;
}
.right-sside-head i{
    margin-right: 15px;
    font-size: 18px;
    color: #777;
    position: relative;
}
.postion1{
    position: absolute;
    left: 85.5%;
    top: 4%;
}
.postion1 p{
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    width: 20px;
    text-align: center;
    font-size: 14px;
    
}
.right-sside-head i:hover{
    color: black;
}
/* end header */
/* start nav */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: #888;
    margin: 0 20px;
    font-size: 18px;

}
nav a:hover{
    color: blueviolet;
}
nav a select{
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
color: #888;



}
nav a select:hover{
    color: blueviolet;
}
nav a select option{
    color: black;
   background-color: white;
   
}
.burble{
    color: blueviolet;
}
/* end nav */
/* start main (mini nav) */
main{
    height: 70px;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
   padding: 0 90px;

}
main a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 20px;
    
}
main a:hover{
    color: blueviolet;
}
main span{
    
    font-size: 22px;
}
/* end main (mini nav) */
/* start section (1) */
.secc1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    box-shadow:  0 0 1px  1px #ddd;
}
.center{
text-align: center;

}
.center i{
    font-size: 70px;
    color: rgb(9, 202, 9);
}
.center h1{
font-size: 90px;
font-weight: normal;
margin-top: 10px;
}
.center p{
    font-size: 25px;
    margin-top: 15px;
    color: #888;
}
.center button{
    padding: 17px;
    width: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 40px;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.center button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: rgb(102, 13, 185);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* end section (1) */
/* start footer  */
.foot{
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;
}
.foot-div-last{
    display: flex;
    justify-content: space-between;
    width: 600px;
    

}
.foot-div-last p{
    margin-left: 50px;
    font-size: 18px;
    line-height: 2.3;
    color: #888;

}
.foot h3{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}
.middle-div-foot img{
    width: 300px;
}
.middle-div-foot  h4{
    font-size: 22px;
    color: rgb(107, 24, 185);
    margin-top: 20px;
}
.middle-div-foot p{
  font-size: 18px;
  color: #888;
  line-height: 1.8;
}
.i-display{
    display: flex;
    align-items: center;
   margin-bottom: 20px;
}
.i-display i{
    font-size: 18px;
    margin-right: 20px;
    color: blueviolet;
    margin-bottom: 10px;
}
.i-display p{
    font-size: 18px;
    color: #888;
}
.input-foot h4{
    font-size:20px ;
    margin-bottom: 20px;
    font-weight: normal;
    color: #444;
}
.input-foot input{
   width: 300px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   border: 1px solid gray;
   outline: none;
   text-align: start;
   padding: 20px;
   font-size: 15px;
   color: #888;
  
}
.input-foot button{
    padding: 19px;
    width: 100px;
    background-color: blueviolet;
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    letter-spacing: 3px;
    position: absolute;
    right: 5px;
    top: 46px;
}
.input-foot{
    position: relative;
}
.margin-left-h3{
    margin: 0 0 15px 40px;
}
/* end footer */
/* start copy right */
.copyright{
    text-align: center;
    height: 100px;
}
.copyright p{
    color: #888;
    font-size: 20px;
}
.copyright p span{
    color: blueviolet;
}
/* end copy right */